<h1> Adopt Don't Shop: Shelter List </h1>
<h2> <%= link_to 'Create New Shelter', '/shelters/new', method: :get%></h2>
<% @shelters.each do |shelter| %>
    <div class='center-div'>
      <h2> <%= link_to shelter.name, "/shelters/#{shelter.id}" %></h2>
      <%= link_to 'Edit This Shelter', "/shelters/#{shelter.id}/edit", class: 'button-left', method: :get%>
      <%= link_to 'Delete This Shelter', "/shelters/#{shelter.id}", method: :delete, class: 'button-right' %>
    </div>
<% end %>
