<h1> Add a New Shelter Listing </h1>
<div class='form-style'>
<% if @shelter.errors.any? %>
   <p class ='center-div'><%= pluralize(@shelter.errors.count, "error") %> prohibited this shelter from being saved:</p>
        <ul>
          <% @shelter.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
  <% end %>
<legend><h2> Enter the following information: <legend></h2>
  <%= render partial: 'form', locals: {path: "/shelters",
  method: :post, button_text: 'Submit'}%>
</div>
