<h1> My Favorite Pets </h1>
<div class='center-div'>
  <% @pets.each do |pet| %>
      <p> <%= link_to "#{ pet.name}", "/pets/#{pet.id}" %> </p>
      <p> <%= image_tag("#{pet.image_url}", {:style => "width:300px;"}) %></p>
  <% end %>
</div>
