<h1> Add a New Pet for Adoption </h1>
<div class='error-div'>
  <%= render "shared/flash" %>
<% if @pet.errors.any? %>
 <p class ='center-div'><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</p>
      <ul>
        <% @pet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
<% end %></div>
<div class='form-style'>
<legend><h2> Edit the following information: </h2><legend>
<%= render partial: 'form', locals: {path: "/shelters/#{@shelter.id}/pets",
method: :post, button_text: 'Submit'}%>
</div>
